.navbar-nav{
    display: flex;
    gap: 1rem;
    font-size: 3rem;
    flex-direction: row ;
    justify-content: center;
}
.profile-image{
    width: 60px;
    height: 60px;
    overflow: hidden;
}
.profile-image img{
    max-width: 100%;
}