<div class="topic-header">
  <h2>Wayfarer is...</h2>
</div>
<div class="topic-container">
  <div class="topic-item">
    <h3>Topic 1</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet commodi, consequatur corporis cupiditate
      debitis, doloribus ex id in iste laboriosam nostrum obcaecati officia provident quidem saepe sed veritatis!
      Hic, quasi</p>
  </div>
  <div class="topic-item">
    <h3>Topic 2</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet commodi, consequatur corporis cupiditate
      debitis, doloribus ex id in iste laboriosam nostrum obcaecati officia provident quidem saepe sed veritatis!
      Hic, quasi</p>
  </div>
  <div class="topic-item">
    <h3>Topic 3</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet commodi, consequatur corporis cupiditate
      debitis, doloribus ex id in iste laboriosam nostrum obcaecati officia provident quidem saepe sed veritatis!
      Hic, quasi</p>
  </div>
</div>