.img-container{
    height: 100px;
    width: 100px;
    overflow: hidden;
    
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 5px;
}
.img-container img{
    max-height: 100%;
}
.city-list{
    border: 1px solid gray;
    border-radius: 10px;
    padding: .5rem;
}
.city-card{
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin: 5px;
}
.city-card h1{
    padding: .5rem;
    overflow: hidden;
    
}

.main-container{
    display: flex;
    align-items: stretch;
    margin:1rem;
    gap:1rem;
    height: 100%;
    background-color: antiquewhite;
}
 
.cities-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
}